# Add API Key here
export OPENWEATHERMAP_APIKEY=

# Your latitude and longitude to pass to weather providers
export WEATHER_LATITUDE=
export WEATHER_LONGITUDE=
# Choose CELSIUS or FAHRENHEIT
export WEATHER_FORMAT=FAHRENHEIT

# How long, in seconds, to cache weather for
export WEATHER_TTL=3600
